<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
    <title>AES Database Game List</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="theme-color" content="#ffffff">
    <style>
    body {
      background-color: #333;
      color: #fff;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    h1 {
      color: white;
    }
    p {
      margin-bottom: 20px;
    }
    a {
      color: #007bff; /* blue */
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
<h1>Game Links</h1>
    <ul class="game-list">
        {% for game in games %}
            <li><a href="https://aes.zkwolf.com/api/v1/aes/{{ game }}">{{ game }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>